/*colors*/

$board-background: #fff;
$border-board: #CCCCCC;
$headers-font-color: #000;
$add-card-icon: #15AABF;
$icon-hover:#66D9E8;
$first-sticker-color: #3184ad;
$sticker-font-color: #fff;


/*fonts*/

$board-title-size: 28px;
$section-title-size: 20px;
$add-card-icon-size: 17px;